@page "/"

<PageTitle>Menees Chord Sheet Converter</PageTitle>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="d-inline-flex justify-content-between align-items-center gap-2">
                    <label for="from" class="text-nowrap">Input From:</label>
                    <select id="from" @bind="@FromType" @bind:event="onchange" class="form-select my-2">
                        <option value="General">General</option>
                        <option value="ChordPro">ChordPro</option>
                    </select>
                    <button class="btn btn-primary" @onclick="ConvertInput">Convert</button>
                    <input id="whenTyping" type="checkbox" @bind="WhenTyping" @bind:event="onchange" class="form-check-input" />
                    <label for="whenTyping" class="form-check-label text-nowrap">When Typing</label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <textarea @bind="@Input" @bind:event=@InputChangeEvent style="height: 90vh" spellcheck="false"
                                class="form-control font-monospace w-100 text-nowrap"></textarea>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <label for="to">Output To:</label>
                    <select id="to" @bind="@ToType" @bind:event="onchange" class="form-select my-2">
                        <option value="ChordPro">ChordPro</option>
                        <option value="MobileSheets">MobileSheets</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <textarea @bind="@output" style="height: 90vh" spellcheck="false"
                                class="form-control font-monospace w-100 text-nowrap"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>



