@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="top-row px-4">
            <div class="row w-100">
                <div class="col">
                    @* <i class="oi oi-musical-note"></i> *@ Menees Chord Sheet Converter
                </div>
                <div class="col">
                    <a href="https://github.com/menees/Chords" class="float-end" target="_blank">GitHub</a>
                </div>
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
