@inherits LayoutComponentBase

<div class="page">
    <div class="top-row px-4">
        <div class="d-flex justify-content-between align-items-center flex-shrink-0 w-100">
            <div>
                <img src="Music_Note_Double_64.png" alt="logo" style="width: 16px; height: 16px;" />
                <b>Menees Chord Sheet Converter @DisplayVersion</b>
            </div>
            <div class="px-4 description">
                Convert <a href="https://www.ultimate-guitar.com/">Ultimate Guitar</a>-style chords-over-text sheets into
                <a href="https://www.chordpro.org/">ChordPro</a> format.
            </div>
            <div>
                <a href="https://github.com/menees/Chords">GitHub</a>
            </div>
        </div>
        <div class="row w-100">
            <div class="col">
            </div>
            <div class="col">
            </div>
        </div>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>


